{% extends 'base.html' %}

{% block title %}
    <title>Change Password</title>
{% endblock %}

{% block body %}
    <center>
       
        <form method="POST">
            {% csrf_token %}
            <label for="oldpassword">Enter Old Password:
                <input type="password" name="oldpassword" placeholder="Enter old password">
            </label>
            <br><br>
            <label for="password">Enter New Password:
                <input type="password" name="password" placeholder="Enter new password">
            </label>
            <br><br>
            <button type="submit">Change Password</button>
        </form>
    </center>
{% endblock %}
